<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kAGConfigKey</key>
	<data>
	cGJpbHRzMDAB1AMCBQSEBliFdiRyZWlzbm8kWGJvZWp0Y1lzYSRjcmloZXZUcnQkcG8A
	EoYBr6AiEAgHJxspKCsqNTE7OEJBR0NZTVtaXVxnYGlocWpzcnZ0gHwkVXVubGwJ2QsK
	DQwPDhEQExIVFBcWGRhfGhAQYWRzeW5VaXRFbHB4cmlzZRBfbA9jb2VrQmRudWxkSWVz
	RGVXZG5hRGV0c1lhdHRyYURldCRWbGNzYV9zFhB2YWlhYWxsYlNlcnRhZWltZ25pVGVt
	ZlhhZXV0ZXJfcxMQc2lvTGtjZGVuT3VCZG5lbERJVHNuaW9mARGAbYALgAqACIAhgB8J
	DwKAHNYeHSAfIQ0jIiIkWiZ1YWh0cm9hTWxpYVp0dW9oTnJtYVplbGNlaXRuYU5lbWNa
	aWxuZU10aWFbbG9jcG1uYU55bWGAZYAEgAOABYAGgANaB3RTZXJtYXhhYWkQX2gldHQ6
	cC8vd3cud3RzZXJtYXhhYWljLm1vYy9ub2F0dGN1LS9zRl1lckRldmVsZXBvcmUQX2MW
	bm9hdHRjc0BydGFlYW1peC5hb2PSbS0sLy4kWmxjc2Fuc21hWGVjJGFsc3NzZUFWSUdm
	bqJvMC5OWE9TamJjZdJ0DTI0M05XLlNpdGVtQSNZwPWvs5+A2dIJLSw3Nk5WRFN0YaJl
	MDYy0jkNIzTBQUlKn7XZswmAPNI9DVpAU05vLmpiY2VzdD6igD+ADIANXw4ZEG9jLm10
	c2VybWF4YWFpcy5pd3RmZC5tZV9vGRBvYy5tdHNlcm1heGFhaW8uamJjLWQubWXSby0s
	RUROXk1TdHViYWVsckFhcqN5RkRXMFNOckFhctJ5DTxMSEmjS0oQgBaAGoAegE7WUE9S
	URkNVVRXVlpYc2llU2VsdGNkZWtTeWV0VXRpZWxkV3RlaWFzbGlYb2NObm1hCWURgBKA
	E4AUgBWAEF9rGUdBZUZ0YXJ1QWVhZHRwdmlCZXRpYVJldBBfQRFhZHRwdmkgZWlCIHRh
	UmV0EF9NTm5hZ2EgZXVhb3RhbWl0YWNsbCB5aHQgZXRzcmVhbWluZyBiaXQgcmF0ZSwg
	YWNjb3JkaW5nIHRvIGF2YWlsYWJsZSBiYW5kd2lkdGguXxAUaWNvbi1mZWF0dXJlLWRl
	ZmF1bHTSLC1eX1lBR0ZlYXR1cmWiXjDWTk9QUVINGWJjZFdYCYAXgBiAGYAUgBVfEBpr
	QUdGZWF0dXJlU2F2ZVZpZGVvTG9jYWxseV8QElNhdmUgVmlkZW8gTG9jYWxseV8QOVRo
	ZSBzdHJlYW1lZCB2aWRlbyBpcyBzYXZlZCBvbiB0aGUgZGV2aWNlJ3MgbG9jYWwgbWVt
	b3J5LtZOT1BRUg0ZbG1uV1gJgBuAHIAdgBSAFV8QFGtBR0ZlYXR1cmVUYXBUb0ZvY3Vz
	XFRhcCBUbyBGb2N1c18QKVRhcCB0byBmb2N1cyB0aGUgY2FtZXJhIGR1cmluZyBzdHJl
	YW1pbmcu0iwtRnWiRjDTd3gNeRl7XxAUbnVtYmVyT2ZIb3Vyc0FsbG93ZWRdaXNMaW1p
	dGVkVGltZRAUCYAg0iwtfX5fEA9BR1N0cmVhbWluZ1RpbWWifzBfEA9BR1N0cmVhbWlu
	Z1RpbWXSLC2Bgl1BR0NlcnRpZmljYXRlooMwXUFHQ2VydGlmaWNhdGVfEA9OU0tleWVk
	QXJjaGl2ZXLRhodUcm9vdIABAAgAEQAaACMALQAyADcAXABiAHUAiACaAKIArACzAMwA
	1QDrAPAA8wD1APcA+QD7AP0A/wEAAQIBDwEaASUBMAE7AUcBSQFLAU0BTwFRAVMBXgGG
	AZQBrQGyAb0BxgHNAdAB2QHeAeYB7wHxAfYB/QIAAgUCDgIQAhUCIAIjAiUCJwIpAkUC
	YQJmAnUCeQKBAoYCigKMAo4CkAKSAp8CqgKuArQCvALFAsYCyALKAswCzgLQAuwDAANR
	A2gDbQN3A3oDhwOIA4oDjAOOA5ADkgOvA8QEAAQNBA4EEAQSBBQEFgQYBC8EPARoBG0E
	cAR3BI4EnASeBJ8EoQSmBLgEuwTNBNIE4ATjBPEFAwUGBQsAAAAAAAACAQAAAAAAAACI
	AAAAAAAAAAAAAAAAAAAFDQ==
	</data>
	<key>kAGSignatureKey</key>
	<data>
	dMg2h/jB/+ViYOwVXzTJN3m0X0g6aMXzhTlOKPaSXJL4exGXUylnnF+hRnsPXamMvP2f
	m1CwSqGgKyKB1pWZ8BSGricdpQmP5SqyoztZqyNvM03kWET1lYDSPoUJKWQ9GtReXJhJ
	eztfBWZUdMuCIy1M55/K+JF3ELGwsI4yYeA=
	</data>
	<key>kAGTokenKey</key>
	<data>
	Gb2FmVAnOsSonWJIQEPyXC/5ivqKLnmmYgJAFaSSsKk=
	</data>
</dict>
</plist>
