<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kAGConfigKey</key>
	<data>
	cGJpbHRzMDAB1AMCBQR5Blh6diRyZWlzbm8kWGJvZWp0Y1lzYSRjcmloZXZUcnQkcG8A
	EoYBr6AhEAgHJRknJikoMCo3NEA6QkFMRllYW1pfXGdmaWhxcHNyVXVuJGx12GwKCQwL
	Dg0QDxIRFBMWFRgXEF9kEHlhVXN0bmxpeEVpcGVyX3MPEG9sa2NkZXVCZG5lbERJV3Nu
	ZURkdGFZZXRzcmFEdHRhVmVjJGFsc3NmWGFldXRlcl9zExBzaW9Ma2NkZW5PdUJkbmVs
	RElUc25pb2YBEYBtgAyAC4AJgCAJEAKAGtYcGx4dHw0hICMiWiR1YWh0cm9hTWxpYVp0
	dW9oTnJtYVplbGNlaXRuYU5lbWNaaWxuZU10aWFbbG9jcG1uYU55bWGAZYAFgASABoAH
	gANWCEdBTElPSU1eaGlpYWF0QiBiYWNpX2kUEHRocHQvOncvd3dhLmlnaWwub3VlQVct
	WEVET00QX2gUdHQ6cC8vd3cud2dhbGlvaWUu0nUsKy4tJFpsY3NhbnNtYVhlYyRhbHNz
	c2VBVklHZm6iby8tTlhPU2piY2XSdA0xMzJOVy5TaXRlbUEjkb1npF21gAvSCiwrNjVO
	VkRTdGGiZS81MdI4DSMzv0HXcrXnC10KgDvSPA1aP1NOby5qYmNlc3Q9ooA+gA2ADl8P
	EhB1ZWEuaWdpbC5veGFkLW1lMW8QX2USLnVnYWxpb2lhLi14ZWRvbdIyLCtEQ05eTVN0
	dWJhZWxyQWFyo3lFQ1cvU05yQWFy0nkNO0tHSKNKSRGAF4AbgB+ATdZPTlFQUg1UU1ZV
	WldzaWVTZWx0Y2Rla1N5ZXRVdGllbGRXdGVpYXNsaVhvY05ubWEIZRKAE4AUgBWAFoAQ
	X2sZR0FlRnRhcnVBZWFkdHB2aUJldGlhUmV0EF9BEWFkdHB2aSBlaUIgdGFSZXQQX05N
	YW5hZ2UgYXV0b21hdGljYWxseSB0aGUgc3RyZWFtaW5nIGJpdCByYXRlLCBhY2NvcmRp
	bmcgdG8gYXZhaWxhYmxlIGJhbmR3aWR0aC5fEBRpY29uLWZlYXR1cmUtZGVmYXVsdNIr
	LF1eWUFHRmVhdHVyZaJdL9ZNTk9QUQ1SYWJjVlcIgBiAGYAagBWAFl8QGmtBR0ZlYXR1
	cmVTYXZlVmlkZW9Mb2NhbGx5XxASU2F2ZSBWaWRlbyBMb2NhbGx5XxA5VGhlIHN0cmVh
	bWVkIHZpZGVvIGlzIHNhdmVkIG9uIHRoZSBkZXZpY2UncyBsb2NhbCBtZW1vcnku1k1O
	T1BRDVJrbG1WVwiAHIAdgB6AFYAWXxAUa0FHRmVhdHVyZVRhcFRvRm9jdXNcVGFwIFRv
	IEZvY3VzXxApVGFwIHRvIGZvY3VzIHRoZSBjYW1lcmEgZHVyaW5nIHN0cmVhbWluZy7S
	KyxFdKJFL9IrLHZ3XUFHQ2VydGlmaWNhdGWieC9dQUdDZXJ0aWZpY2F0ZV8QD05TS2V5
	ZWRBcmNoaXZlctF7fFRyb290gAEACAARABoAIwAtADIANwBbAGEAcgCFAJcAnwCpALAA
	uQDPANQA1wDZANsA3QDfAOEA4gDkAPEA/AEHARIBHQEpASsBLQEvATEBMwE1ATwBSwFi
	AWoBgQGGAZEBmgGhAaQBrQGyAboBwwHFAcoB0QHUAdkB4gHkAekB9AH3AfkB+wH9AhIC
	JwIsAjsCPwJHAkwCUAJSAlQCVgJYAmUCcAJ0AnoCggKLAowCjgKQApIClAKWArICxgMX
	Ay4DMwM9A0ADTQNOA1ADUgNUA1YDWAN1A4oDxgPTA9QD1gPYA9oD3APeA/UEAgQuBDME
	NgQ7BEkETARaBGwEbwR0AAAAAAAAAgEAAAAAAAAAfQAAAAAAAAAAAAAAAAAABHY=
	</data>
	<key>kAGSignatureKey</key>
	<data>
	aclXE4cQHzuTyLVf+7q9rP5Mc3av5o1x5JPJRG4TJl+CaWdpLL+sfgPeOQaz+ph8zjIa
	H4f7L9X19iRdcAzzrlKSWapQ3iNqKL4Nit02xayZ7FIVuNh0BEyeD6Qd9Xdd41zQ4VRd
	bLldFHBWLqFgxTMFLDpi6fNQIEO7xVnRulo=
	</data>
	<key>kAGTokenKey</key>
	<data>
	mxLUKsvgieJ1Ryc3zcRK/pbvfhMaBIoxpZ7zEmErBU4=
	</data>
</dict>
</plist>
