<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kAGConfigKey</key>
	<data>
	cGJpbHRzMDAB1AMCBQSFBliGdiRyZWlzbm8kWGJvZWp0Y1lzYSRjcmloZXZUcnQkcG8A
	EoYBr6AjEAgHJxspKCsqMiw5NkI8RENOSFtaXVxhXmloa2pzcnV0fXdVgW4kbHXZbAoJ
	DAsODRAPEhEUExYVGBcaGRBfZBB5YVVzdG5saXhFaXBlcl9zDxBvbGtjZGV1QmRuZWxE
	SVdzbmVEZHRhWWV0c3JhRHR0YVZlYyRhbHNzEF9hFmF2bGliYWVsdFNlcm1hbmlUZ21p
	WGVlZnRhcnVzZRBfaRNMc2NvZWtPZEJubnVsZEllc0RpVGZuEW+MAQyAC4AJgCKAIIAQ
	gIAJ1gIdHB8eDSAiISQjJiVhWnR1b2hNcmlhWmx1YWh0cm9hTmVtY1ppbG5lTnRtYVpl
	bGNlaXRuYU1saWNbbW9hcHluYU5lbQWABIAGgAeAA4AIgFNaUlRBRUFNSVhUQUxWREEQ
	X2gVdHQ6cC8vVFNFUk1BWEFBSUMuTU9TWlJUQUVBTUlYX0EXEG9jdG5jYUB0dHNlcm1h
	eGFhaWMubW/SIC4tMC8kWmxjc2Fuc21hWGVjJGFsc3NzZUFWSUdmbqJvMS9OWE9TamJj
	ZdJ0DTM1NE5XLlNpdGVtQSOLvoS1iY2AgNIKLi04N05WRFN0YaJlMTcz0joNIzXAQeNK
	RsLAxAqAPdI+DVpBU05vLmpiY2VzdD+igECADYAOXw8ZEG9jLm10c2VybWF4YWFpby5q
	YmMtZC5tZV9vGRBvYy5tdHNlcm1heGFhaXMuaXd0ZmQubWXSby4tRkVOXk1TdHViYWVs
	ckFhcqN5R0VXMVNOckFhctJ5DT1NSUqjTEsRgBeAG4AfgE/WUVBTUhkNVlVYV1pZc2ll
	U2VsdGNkZWtTeWV0VXRpZWxkV3RlaWFzbGlYb2NObm1hCWUSgBOAFIAVgBaAEF9rGUdB
	ZUZ0YXJ1QWVhZHRwdmlCZXRpYVJldBBfQRFhZHRwdmkgZWlCIHRhUmV0EF9NTm5hZ2Eg
	ZXVhb3RhbWl0YWNsbCB5aHQgZXRzZXJtYW5pIGdiaXQgcmF0ZSwgYWNjb3JkaW5nIHRv
	IGF2YWlsYWJsZSBiYW5kd2lkdGguXxAUaWNvbi1mZWF0dXJlLWRlZmF1bHTSLS5fYFlB
	R0ZlYXR1cmWiXzHWT1BRUlMNGWNkZVhZCYAYgBmAGoAVgBZfEBprQUdGZWF0dXJlU2F2
	ZVZpZGVvTG9jYWxseV8QElNhdmUgVmlkZW8gTG9jYWxseV8QOVRoZSBzdHJlYW1lZCB2
	aWRlbyBpcyBzYXZlZCBvbiB0aGUgZGV2aWNlJ3MgbG9jYWwgbWVtb3J5LtZPUFFSUw0Z
	bW5vWFkJgByAHYAegBWAFl8QFGtBR0ZlYXR1cmVUYXBUb0ZvY3VzXFRhcCBUbyBGb2N1
	c18QKVRhcCB0byBmb2N1cyB0aGUgY2FtZXJhIGR1cmluZyBzdHJlYW1pbmcu0i0uR3ai
	RzHTeHkNehl8XxAUbnVtYmVyT2ZIb3Vyc0FsbG93ZWRdaXNMaW1pdGVkVGltZRABCYAh
	0i0ufn9fEA9BR1N0cmVhbWluZ1RpbWWigDFfEA9BR1N0cmVhbWluZ1RpbWXSLS6Cg11B
	R0NlcnRpZmljYXRlooQxXUFHQ2VydGlmaWNhdGVfEA9OU0tleWVkQXJjaGl2ZXLRh4hU
	cm9vdIABAAgAEQAaACMALQAyADcAXQBjAHYAiQCbAKMArQC0AM0A1gDsAPEA9AD2APgA
	+gD8AP4BAAEBAQMBEAEbASYBMQE8AUgBSgFMAU4BUAFSAVQBXwFkAXwBhwGhAaYBsQG6
	AcEBxAHNAdIB2gHjAeUB6gHxAfQB+QICAgQCCQIUAhcCGQIbAh0COQJVAloCaQJtAnUC
	egJ+AoACggKEAoYCkwKeAqICqAKwArkCugK8Ar4CwALCAsQC4AL0A0UDXANhA2sDbgN7
	A3wDfgOAA4IDhAOGA6MDuAP0BAEEAgQEBAYECAQKBAwEIwQwBFwEYQRkBGsEggSQBJIE
	kwSVBJoErASvBMEExgTUBNcE5QT3BPoE/wAAAAAAAAIBAAAAAAAAAIkAAAAAAAAAAAAA
	AAAAAAUB
	</data>
	<key>kAGSignatureKey</key>
	<data>
	uzBzf9q5HpPIaJ5wCIM0PM0dC9Jw06CL9MVNJjPMRU2tPAVOaFvpF2VQyM+TKjMAZnOh
	G5fcrFq1ucOwPsarZsSPeOWEwHC6q5OBm2XqjX70Ov0vKRddJwmcAVzQOni9kAtCV/r2
	TJkMCXpFPr5DkyFNVakt8kRgGYYyNDM6qaw=
	</data>
	<key>kAGTokenKey</key>
	<data>
	P4mzImJ76qCPRN/ux6ldQQyjzJsjkH99NmyT15RCOSs=
	</data>
</dict>
</plist>
