<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kAGConfigKey</key>
	<data>
	cGJpbHRzMDAB1AMCBQSCBliDdiRyZWlzbm8kWGJvZWp0Y1lzYSRjcmloZXZUcnQkcG8A
	EoYBr6AhEAgHJxspKCsqNTE7OEFAS0VYV1pZXltmZWhncG9ycXp0VX5uJGx12WwKCQwL
	Dg0QDxIRFBMWFRgXGhkQX2QQeWFVc3RubGl4RWlwZXJfcw8Qb2xrY2RldUJkbmVsRElX
	c25lRGR0YVlldHNyYUR0dGFWZWMkYWxzcxBfYRZhdmxpYmFlbHRTZXJtYW5pVGdtaVhl
	ZWZ0YXJ1c2UQX2kTTHNjb2VrT2RCbm51bGRJZXNEaVRmbhBvgA+AC4AKgAiAIIAeCQ4C
	gBzWHh0gHyENIyIiJFomdWFodHJvYU1saWFadHVvaE5ybWFaZWxjZWl0bmFOZW1jWmls
	bmVNdGlhW2xvY3BtbmFOeW1hgGWABIADgAWABoADWgd0U2VybWF4YWFpEF9oJXR0OnAv
	L3d3Lnd0c2VybWF4YWFpYy5tb2Mvbm9hdHRjdS0vc0ZdZXJEZXZlbGVwb3JlEF9jFm5v
	YXR0Y3NAcnRhZWFtaXguYW9j0m0tLC8uJFpsY3NhbnNtYVhlYyRhbHNzc2VBVklHZm6i
	bzAuTlhPU2piY2XSdA0yNDNOVy5TaXRlbUEjUMB1dbOfgNnSCS0sNzZOVkRTdGGiZTA2
	MtI5DSM0wEFYWp+12bMJgDzSPQ1aP1NOby5qYmNlc3Q+oQyADYAQX2MZbW9zLnJ0YWVh
	bWl4LmF3c2ZpLnRlZG9tLNJCLV5DU051TWF0bGJBZXJyeWFCozBETldBU3JyeWE80kYN
	o0pIR4BJgA+AFYAZ1h1NTE9ODVBSGVRTVlVpWlNzbGVjZWV0U2Rla1V5aXRsdFdlZWRh
	dGxpWHNjaW5vYU5lbYAJgBCAEYASgBNfFBkQQWtGR2FldXRlcmRBcGFpdGV2aUJSdHRh
	X2UREGRBcGFpdGV2QiB0aVIgdGFfZU4QYU1hbmVnYSB0dW1vdGFjaWxheWx0IGVocyBy
	dGFlaW1nbmIgdGlyIHRhZSwgYWNjb3JkaW5nIHRvIGF2YWlsYWJsZSBiYW5kd2lkdGgu
	XxAUaWNvbi1mZWF0dXJlLWRlZmF1bHTSLC1cXVlBR0ZlYXR1cmWiXDDWTE1OT1ANGWBh
	YlVWCYAWgBeAGIATgBRfEBprQUdGZWF0dXJlU2F2ZVZpZGVvTG9jYWxseV8QElNhdmUg
	VmlkZW8gTG9jYWxseV8QOVRoZSBzdHJlYW1lZCB2aWRlbyBpcyBzYXZlZCBvbiB0aGUg
	ZGV2aWNlJ3MgbG9jYWwgbWVtb3J5LtZMTU5PUA0ZamtsVVYJgBqAG4AcgBOAFF8QFGtB
	R0ZlYXR1cmVUYXBUb0ZvY3VzXFRhcCBUbyBGb2N1c18QKVRhcCB0byBmb2N1cyB0aGUg
	Y2FtZXJhIGR1cmluZyBzdHJlYW1pbmcu0iwtRHOiRDDTdXYNdxl5XxAUbnVtYmVyT2ZI
	b3Vyc0FsbG93ZWRdaXNMaW1pdGVkVGltZRAKCYAf0iwte3xfEA9BR1N0cmVhbWluZ1Rp
	bWWifTBfEA9BR1N0cmVhbWluZ1RpbWXSLC1/gF1BR0NlcnRpZmljYXRlooEwXUFHQ2Vy
	dGlmaWNhdGVfEA9OU0tleWVkQXJjaGl2ZXLRhIVUcm9vdIABAAgAEQAaACMALQAyADcA
	WwBhAHQAhwCZAKEAqwCyAMsA1ADqAO8A8QDzAPUA9wD5APsA/QD+AQABDQEYASMBLgE5
	AUUBRwFJAUsBTQFPAVEBXAGEAZIBqwGwAbsBxAHLAc4B1wHcAeQB7QHvAfQB+wH+AgMC
	DAIOAhMCHgIgAiICJAJAAkUCVAJYAmACZQJpAmsCbQJvAnECfgKJAo0CkwKbAqQCpQKn
	AqkCqwKtAq8CywLfAzADRwNMA1YDWQNmA2cDaQNrA20DbwNxA44DowPfA+wD7QPvA/ED
	8wP1A/cEDgQbBEcETARPBFYEbQR7BH0EfgSABIUElwSaBKwEsQS/BMIE0ATiBOUE6gAA
	AAAAAAIBAAAAAAAAAIYAAAAAAAAAAAAAAAAAAATs
	</data>
	<key>kAGSignatureKey</key>
	<data>
	eDq6MbxBG2OJt/+RAWhbIAOYgvUM5dZIpIfbaEudFxtGqk/MDDiyA7QG1QJ+Lgm+CFqC
	eDhfOl5RkyIsfz4Tq6i5VPHBb9aARNysyJ2KMcQY13vdLJyFog24k5FJLsrly6ZDbIRq
	fAem69o+rKvr64oSOF37uRhRRiCeFNW74sk=
	</data>
	<key>kAGTokenKey</key>
	<data>
	zLtRvhGRpPVf8DFiA6KgrtV5mRzxOpgFxc3GirDeOnw=
	</data>
</dict>
</plist>
