<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kAGConfigKey</key>
	<data>
	cGJpbHRzMDAB1AMCBQQHBlgKdiRyZWlzbm8kWXJhaGN2aXJlJFRvdFhwbyRqYmNlc3QA
	EoYBX6APEFNOZUtleUFkY3JpaGV20XIJCHJUb2+AdK8BIRAMCysfLSw0Ljs4RD5GRVBK
	XVxfXmNga2ptbHV0d3Z/eVWDbiRsddlsDg0QDxIRFBMWFRgXGhkcGx4dEF9kEHlhVXN0
	bmxpeEVpcGVyX3MPEG9sa2NkZXVCZG5lbERJV3NuZURkdGFZZXRzcmFEdHRhVmVjJGFs
	c3MQX2EWYXZsaWJhZWx0U2VybWFuaVRnbWlYZWVmdGFydXNlEF9pE0xzY29la09kQm5u
	dWxkSWVzRGlUZm4Rb5SOCoAJgAeAIIAegA6AgAnWAiEgIyIRJCYlKCYqJmFadHVvaE1y
	aWFabHVhaHRyb2FOZW1jWmlsbmVOdG1hWmVsY2VpdG5hTWxpY1ttb2FweW5hTmVtBIAD
	gAOABYADgAaAU1pydGFlYW1peF9hGRB0aHB0Lzp3L3d3cy5ydGFlYW1peC5hb2NfbRYQ
	b2N0bmNhQHR0c2VybWF4YWFpYy5tby/SMTBaMmMkYWxzc2FuZW0kWGxjc2Flc1ZzR0Fu
	SW9mMaJYM1NOYk9lanRjNdI2EVc3U050Lm1pI2XBQWfvi/ngZgiAL9I5MFY6U05hRGV0
	OaLSMxE1NzxBI/rrvt3ZYoC40ggRP0NATlouU2JvZWp0Y6JzQkELgAyADYAQX2MZbW9z
	LnJ0YWVhbWl4LmF3c2ZpLnRlZG9tEF9jGW1vcy5ydGFlYW1peC5hYm8tai5jZWRvbS/S
	RzBeSFNOdU1hdGxiQWVycnlhR6MzSU5XQVNycnlhP9JLEaNPTUyAToAPgBWAGdYdUlFU
	UxFVVx1ZWFtaaVpTc2xlY2VldFNkZWtVeWl0bHRXZWVkYXRsaVhzY2lub2FOZW2ACYAQ
	gBGAEoATXxQZEEFrRkdhZXV0ZXJkQXBhaXRldmlCUnR0YV9lERBkQXBhaXRldkIgdGlS
	IHRhX2VOEGFNYW5lZ2EgdHVtb2F0aWNhbGx5IHRoZSBzdHJlYW1pbmcgYml0IHJhdGUs
	IGFjY29yZGluZyB0byBhdmFpbGFibGUgYmFuZHdpZHRoLl8QFGljb24tZmVhdHVyZS1k
	ZWZhdWx00i8wYWJZQUdGZWF0dXJlomEz1lFSU1RVER1lZmdaWwmAFoAXgBiAE4AUXxAa
	a0FHRmVhdHVyZVNhdmVWaWRlb0xvY2FsbHlfEBJTYXZlIFZpZGVvIExvY2FsbHlfEDlU
	aGUgc3RyZWFtZWQgdmlkZW8gaXMgc2F2ZWQgb24gdGhlIGRldmljZSdzIGxvY2FsIG1l
	bW9yeS7WUVJTVFURHW9wcVpbCYAagBuAHIATgBRfEBRrQUdGZWF0dXJlVGFwVG9Gb2N1
	c1xUYXAgVG8gRm9jdXNfEClUYXAgdG8gZm9jdXMgdGhlIGNhbWVyYSBkdXJpbmcgc3Ry
	ZWFtaW5nLtIvMEl4okkz03p7EXx9fl8QFG51bWJlck9mSG91cnNBbGxvd2VkXWlzTGlt
	aXRlZFRpbWUQAAiAH9IvMICBXxAPQUdTdHJlYW1pbmdUaW1looIzXxAPQUdTdHJlYW1p
	bmdUaW1l0i8whIVdQUdDZXJ0aWZpY2F0ZaKGM11BR0NlcnRpZmljYXRlAAgAEQAaACQA
	KQAyADcASQBMAFEAUwB3AH0AkACjALUAvQDHAM4A5wDwAQYBCwEOARABEgEUARYBGAEa
	ARsBHQEqATUBQAFLAVYBYgFkAWYBaAFqAWwBbgF5AZUBrgGzAb4BxwHOAdEB2gHfAecB
	8AHyAfcB/gIBAgYCDwIRAhYCIQIkAiYCKAIqAkYCYgJnAnYCegKCAocCiwKNAo8CkQKT
	AqACqwKvArUCvQLGAscCyQLLAs0CzwLRAu0DAQNSA2kDbgN4A3sDiAOJA4sDjQOPA5ED
	kwOwA8UEAQQOBA8EEQQTBBUEFwQZBDAEPQRpBG4EcQR4BI8EnQSfBKAEogSnBLkEvATO
	BNME4QTkAAAAAAAAAgEAAAAAAAAAhwAAAAAAAAAAAAAAAAAABPI=
	</data>
	<key>kAGSignatureKey</key>
	<data>
	ZQmSiGt6aFOJY+lQXiJLNjSa0gcZG595muycV12+dtkAKby4U+e65IIrMuR7DakK7s/w
	WpqOG90/VdTAVC43Zh6O4ckoc2u+g8wgGDR9G66PM65CCaSUYSlbctuN+nd8nRQA610d
	0OOsHYF+bLrPX99BiwROisx0JK/VCRk0z7M=
	</data>
	<key>kAGTokenKey</key>
	<data>
	wZWBN/NlmEWrbuRXlERU+esLzCiArriOTeKVDLYGOZs=
	</data>
</dict>
</plist>
