<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kAGConfigKey</key>
	<data>
	cGJpbHRzMDAB1AMCBQQHBlgKdiRyZWlzbm8kWXJhaGN2aXJlJFRvdFhwbyRqYmNlc3QA
	EoYBX6APEFNOZUtleUFkY3JpaGV20XIJCHJUb2+AdK8BIhAMCysfLSwvLjk1PzxGRUtH
	XVFfXmFga2RtbHVud3Z6eISAJFV1bmxsDdkPDhEQExIVFBcWGRgbGh0cXx4QEGFkc3lu
	VWl0RWxweHJpc2UQX2wPY29la0JkbnVsZEllc0RlV2RuYURldHNZYXR0cmFEZXQkVmxj
	c2FfcxYQdmFpYWFsbGJTZXJ0YWVpbWduaVRlbWZYYWV1dGVyX3MTEHNpb0xrY2Rlbk91
	QmRuZWxESVRzbmlvZgERgG2AC4AKgAiAIYAfCQ8CgCDWIiEkIyURJyYmKFoqdWFodHJv
	YU1saWFadHVvaE5ybWFaZWxjZWl0bmFOZW1jWmlsbmVNdGlhW2xvY3BtbmFOeW1hgGWA
	BIADgAWABoADWgd0U2VybWF4YWFpEF9oGnR0c3AvOncvd3dzLnJ0YWVhbWl4LmFvY1dt
	ZURhZmx1UHQw0jIxWjNjJGFsc3NhbmVtJFhsY3NhZXNWc0dBbklvZjKiWDRTTmJPZWp0
	YzbSNxFXOFNOdC5taSNlw0F++1j5wVcJgDDSOjFWO1NOYURldDqi0jQRNjg9QSPsxLkY
	V1iAwdIJEUBEQU5aLlNib2VqdGOic0NCDIANgA6AEF9jGW1vcy5ydGFlYW1peC5hd3Nm
	aS50ZWRvbRBfYxltb3MucnRhZWFtaXguYWJvLWouY2Vkb20w0kgxXklTTnVNYXRsYkFl
	cnJ5YUijNEpOV0FTcnJ5YUDSTBGjUE5NgE+AEIAWgBrWHlNSVVQRVlgdWllcW2laU3Ns
	ZWNlZXRTZGVrVXlpdGx0V2VlZGF0bGlYc2Npbm9hTmVtgAmAEYASgBOAFF8VGRBBa0ZH
	YWV1dGVyZEFwYWl0ZXZpQlJ0dGFfZREQZEFwYWl0ZXZCIHRpUiB0YV9lThBhTWFuZWdh
	IHR1bW90YWNpbGF5bCB0aGUgc3RyZWFtaW5nIGJpdCByYXRlLCBhY2NvcmRpbmcgdG8g
	YXZhaWxhYmxlIGJhbmR3aWR0aC5fEBRpY29uLWZlYXR1cmUtZGVmYXVsdNIwMWJjWUFH
	RmVhdHVyZaJiNNZSU1RVVhEdZmdoW1wJgBeAGIAZgBSAFV8QGmtBR0ZlYXR1cmVTYXZl
	VmlkZW9Mb2NhbGx5XxASU2F2ZSBWaWRlbyBMb2NhbGx5XxA5VGhlIHN0cmVhbWVkIHZp
	ZGVvIGlzIHNhdmVkIG9uIHRoZSBkZXZpY2UncyBsb2NhbCBtZW1vcnku1lJTVFVWER1w
	cXJbXAmAG4AcgB2AFIAVXxAUa0FHRmVhdHVyZVRhcFRvRm9jdXNcVGFwIFRvIEZvY3Vz
	XxApVGFwIHRvIGZvY3VzIHRoZSBjYW1lcmEgZHVyaW5nIHN0cmVhbWluZy7SMDFKeaJK
	NNN7fBF9fn9fEBRudW1iZXJPZkhvdXJzQWxsb3dlZF1pc0xpbWl0ZWRUaW1lEAAIgCDS
	MDGBgl8QD0FHU3RyZWFtaW5nVGltZaKDNF8QD0FHU3RyZWFtaW5nVGltZdIwMYWGXUFH
	Q2VydGlmaWNhdGWihzRdQUdDZXJ0aWZpY2F0ZQAIABEAGgAkACkAMgA3AEkATABRAFMA
	eAB+AJEApAC2AL4AyADPAOgA8QEHAQwBDwERARMBFQEXARkBGwEcAR4BKwE2AUEBTAFX
	AWMBZQFnAWkBawFtAW8BegGXAZ8BoAGlAbABuQHAAcMBzAHRAdkB4gHkAekB8AHzAfgC
	AQIDAggCEwIWAhgCGgIcAjgCVAJZAmgCbAJ0AnkCfQJ/AoECgwKFApICnQKhAqcCrwK4
	ArkCuwK9Ar8CwQLDAt8C8wNEA1sDYANqA20DegN7A30DfwOBA4MDhQOiA7cD8wQABAEE
	AwQFBAcECQQLBCIELwRbBGAEYwRqBIEEjwSRBJIElASZBKsErgTABMUE0wTWAAAAAAAA
	AgEAAAAAAAAAiAAAAAAAAAAAAAAAAAAABOQ=
	</data>
	<key>kAGSignatureKey</key>
	<data>
	vFWvnuxotlJrWlqjepgJhZwAUVwDTBcxgNzLY86CyrI7IeX284EqG/5RLMaBwyyO6CIA
	rswzLaIyBfBvF22eNeOtEz9wovsXmU2fO1KXp0P8r6dmXghprwi54PFNzH7lJhvSkn+z
	PRkVfgG95ZfeNwYjJqGaORKh/f2mMEe9Ao4=
	</data>
	<key>kAGTokenKey</key>
	<data>
	eu9iiKZ1uS8xMJcPk1YsVLyMXcoWZ6VRViY9KUfWv+k=
	</data>
</dict>
</plist>
